@model CAYCANHNT.Models.LoginModel

@{
    ViewBag.Title = "Đăng nhập";
    ViewBag.Keyword = "Dang nhap vao Noi That 69";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<div class="panel panel-success" style="width:70%;margin-left:auto;margin-right:auto;margin-top:30px">
    <div class="panel-heading">Đăng nhập vào Nội Thất 69</div>
    <div class="panel-body">

        @using (Html.BeginForm("Login", "User", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-md-4"></label>
                    <div class="col-md-8">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", @autofocus = "autofocus" })
                        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.PassWord, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.PasswordFor(model => model.PassWord, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.PassWord, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-4 col-md-8">
                        <input type="submit" value="Đăng nhập" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }

    </div>
</div>