@model CAYCANHNT.Models.SKIN

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/admin/Views/Shared/_MyLayout.cshtml";
}

<div style="height:15px"></div>
<div class="panel panel-red">
    <div class="panel-heading">Chỉnh sửa Giao diện</div>
    <div class="panel-body">
        @using (Html.BeginForm("Edit", "Skins", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.id)

                <div class="form-group">
                    @Html.LabelFor(model => model.logo,"Logo", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <input type="file" name="logo" id="logo" accept=".jpg,.png,.gif,.jpeg,.bmp" />
                        @Html.ValidationMessageFor(model => model.logo, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.comercial,"Hình quảng cáo", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <input type="file" name="comercial" id="comercial" accept=".jpg,.png,.gif,.jpeg,.bmp" />
                        @Html.ValidationMessageFor(model => model.comercial, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.comercial_link,"Liên kết quảng cáo", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.comercial_link, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.comercial_link, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.googlemap,"Bản đồ", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.googlemap, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.googlemap, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.fanpage,"Fanpage", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.fanpage, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.fanpage, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.footer,"Footer", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.footer, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.footer, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.youtube,"Youtube", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.youtube, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.youtube, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.aboutus,"Về cửa hàng", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.aboutus, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.aboutus, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.shopinfo,"Thông tin liên hệ", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.shopinfo, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.shopinfo, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.deliveryinfo,"Chính sách giao hàng", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.deliveryinfo, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.deliveryinfo, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Lưu" class="btn btn-danger" />
                    </div>
                </div>
            </div>
        }

        <div>
            @Html.ActionLink("Quay về", "Index", "Index", new { @class = "btn btn-success" })
        </div>

    </div>
</div>

@section _footer
{
    <script src="~/Areas/admin/Content/ckfinder/ckfinder.js"></script>
    <script src="~/Areas/admin/Content/ckeditor/ckeditor.js"></script>

    <script type="text/javascript">
        var editor = CKEDITOR.replace("footer");
        var editor = CKEDITOR.replace("aboutus");
        var editor = CKEDITOR.replace("shopinfo");
        var editor = CKEDITOR.replace("deliveryinfo");
        var editor = CKEDITOR.replace("footer", { height: '600px' });
        var editor = CKEDITOR.replace("aboutus", { height: '600px' });
        var editor = CKEDITOR.replace("shopinfo", { height: '600px' });
        var editor = CKEDITOR.replace("deliveryinfo", { height: '600px' });
        customConfig: '/Areas/admin/Content/ckeditor/config.js';
    </script>

}